/*每頁的預設*/
		body {
		min-height: 100%;
		font-family: "微軟正黑體";
		background-color:   #ffffff;
		background-image: url("../images/about_bg.jpg");
		background-attachment:fixed;
		/*background-repeat: no-repeat;*/
		height: 100%;
		background-size: 100%;
		margin:0px;
		/* footer 高度 */
		}
		article {
		padding-top: 800px;
		width: 100%;
		margin: 0 auto;
		background-color: rgba(0,0,0,0.5);
		padding-bottom: 50px;
		}
		/*每頁的預設*/
		/*右側滾輪*/
		/* width */
		::-webkit-scrollbar {
		width: 20px;
		}
		/* Track */
		::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px grey;
		border-radius: 10px;
		}
		
		/* Handle */
		::-webkit-scrollbar-thumb {
		background:  saddlebrown;
		border-radius: 10px;
		}
		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
		background: #efd467;
		}
		/*右側滾輪*/
		/*回首紐*/
		#myBtn {
			display: none;
			position: fixed;
			bottom: 20px;
			right: 30px;
			z-index: 99;
			font-size: 18px;
			border: none;
			outline: none;
			background-color: brown;
			color: white;
			cursor: pointer;
			padding: 15px;
			border-radius: 4px;
		}

		#myBtn:hover {
			background-color: #555;
		}
  		/*回首紐*/
		/* header */
	nav {
		overflow: hidden;
		background-image: url('../images/headerbg.png');
		position: fixed;
		width: 100%;
		box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
		top: 0px;
		left: 0px;
		z-index: 100;
		min-width: 1200px;
	}

	img.button_bg{
		height: 150px;
		position: relative;
		top: -80px;
		z-index: -1;
		/*display: none;*/
		opacity: 0;
		transition:  1s ;
	}
	img.button_bg2,img.button_bg3{
		height: 150px;
		width: 200px;
		position: relative;
		top: -85px;
		z-index: -1;
		/*display: none;*/
		opacity: 0;
		transition:  1s ;
	}
	.navbar {
		width: 100%;
	}
	.nalogo {
		float: left;
		margin: 8px;
	}
	.naleft {
		height: 40px;
		float: left;
		font-size: 22px;
		font-weight: bold;
		color: black;
		text-align: center;
		padding: 2%  20px;
		transition:  1s ;
	}
	.naleft:hover img.button_bg{
		opacity: 0.9;
	}
	.naleft2:hover img.button_bg2{
		opacity: 0.9;
	}
	.naleft3:hover img.button_bg3{
		opacity: 0.9;
	}
	.naleft2{
		height: 40px;
		float: left;
		font-size: 22px;
		font-weight: bold;
		line-height: 1.5;
		color: black;
		text-align: center;
		padding: 2% 10px;
		transition:  0.3s linear;
	}
	.naleft3 {
		height: 40px;
		float: left;
		font-size: 22px;
		font-weight: bold;
		line-height: 1.5;
		color: black;
		text-align: center;
		padding: 2% 10px;
		transition:  0.3s linear;
	}
	#naindex {
		background-color: ;
		height: 18px;
	}
	.dropdown {
		float: left;
		overflow: hidden;
		padding: 20px 2px;
		
	}
	.dropbut {
		
		color:black;
		padding: 10px;
		background-color: inherit;
		font: inherit;
		margin: 0;
		cursor: pointer;
		transition:  0.3s linear;
	}
	.dropstyle {
		background-color: white;
		border: 2px #efd467 dotted; /*縣*/
		border-radius: 10%;
		color: #1a1a1a;
		padding: 8px 15px;
		line-height: 18px;
		transition:  0.3s linear;
		font-size:22px;
		font-weight:bolder;
	}
	.dropimg {
		width: 18px;
		height: 18px;
		background-size: 18px 18px;
		transition: all 0.2s linear;
		float: right;
		margin-left: 5px;
	}
	.dropbut:hover > .dropstyle {
		background-color: #e7bfbfcc;
		color: #6b3838e6;
		border: 1px solid #e0ababe6;
	}
	.dropbut:hover > .dropstyle > .dropimg {
		
		background-size: 18px 18px;
	}
	.dropinnertext {
		display: none;
		position: fixed;
		width: 30%;
		z-index: 10;
		 /*縣*/

	}
	.dropinnertext .body {
		width: 100%;
		box-shadow: 0 1px 8px rgba(0, 0, 0, .2);
		border-radius: 5px;
		display: table;
		padding: 15px;
		background: white;
		border: 10px brown dashed;
		margin: 0 auto;
	}
	button.hotheader{
        background-color: white;
        color: black;
        border: 2px solid #f44336;
         margin: 0,auto;
        }
    button.hotheader:hover{
        background-color: #f44336;
        color: white;
    }
	.dropdown-cell {
		display: table-cell;
		width: calc(100%/3);
		padding: 10px;
		text-align: center;
	}
	.dropdown-title {
		font-size: 25px;
		border-bottom: 2px #efd467 dotted; /*縣*/
		margin: 5px 0;
		margin-bottom: 10px;
		padding: 8px 0;
		font-weight: bold;
		color: saddlebrown;
	}
	.dropdown-a {
		font-size: 20px;
		margin: 5px 0;
		padding: 8px 0;
		color: black; /*INNERTEXT*/
		transition: all 0.2s linear;
	}
	.dropdown-a:hover {
		color:saddlebrown /*innerbigtext*/
	}
	.dropdown:hover .dropinnertext {
		display: block;
	}
	.navbar-right {
		float: right;
		padding-right: 48px;
		opacity: .75;
		transition: all 0.3s linear;
	}
	.navbar-right:hover {
		opacity: 1;
		filter: drop-shadow(0px 1px 5px gray); /*?*/
	}
	.navbar-right img {
		width: 70px;
		height: 60px;
		padding: 5px;
	}
	.navbar-right2 {
		float: right;
		padding-right: 3px;
		opacity: .75;
		transition: all 0.3s linear;
	}
	.navbar-right2:hover {
		opacity: 1;
		filter: drop-shadow(0px 1px 5px rgba(255, 255, 255, .3));
	}
	.navbar-right2 img {
		width: 70px;
		height: 60px;
		
	}
	.navbar-right2-num {
		position: absolute;
		top: -40px;
		right: 1px;
		padding: 5px 8px;
		border-radius: 50%;
		background: red;
		color: white;
		font-size: 14px;
		line-height: 14px;
	}
		/* header */
		/**/
		@keyframes swing {
		  20% {
		    transform: rotate3d(0, 0, 1, 15deg);
		  }

		  40% {
		    transform: rotate3d(0, 0, 1, -10deg);
		  }

		  60% {
		    transform: rotate3d(0, 0, 1, 5deg);
		  }

		  80% {
		    transform: rotate3d(0, 0, 1, -5deg);
		  }

		  to {
		    transform: rotate3d(0, 0, 1, 0deg);
		  }
		}
		div.about_title{
			color: white;
			position: relative;
			top:-500px;
			text-align: center;
			font-size: 30px;
			font-weight: bolder;
		}
		p.doodles{
			font-size: 80px;
			font-family: Comic Sans MS;
			color: rgb(251,249,181);
			font-weight: bolder;
		}
		div.member_body{
			margin: 0 auto;
		}
		div.member_card{
			margin: 50px auto;
			min-width: 1200px;
			width: 90%;
			overflow: auto;
			background-color: rgba(255,255,255,1);
			padding: 30px;
			border-radius: 20px;
		}
		div.member_title{
			text-align: center;
			font-weight: bolder;
			-webkit-filter:drop-shadow(3px 3px gray);
			font-size: 40px;
		}
		div.member{
			padding: 10px;
			width: calc(26% - 100px);
			float: left;
			margin:50px 30px;
			text-align: center;
			background-color: rgb(251,249,181);
			-webkit-filter:drop-shadow(8px 8px gray);
		}
		div.member:hover{
			animation: swing 2s infinite cubic-bezier(0.215, 0.610, 0.355, 1.000);
			transform-origin: top center;
		}
		/*圖釘*/
		img.thumbtack{
			position: absolute;
			top: -50px;
			left: 45%;
			width: 15%;
			z-index: -1;
		}/*圖釘*/
		img.member_pic{
			width: 90%;
			height: auto;
			padding: 20px;
			margin: 0 auto;
		}
		div.about-us{
			font-size: 25px;
		}
		div.about_connect{
			border:5px  rgb(251,249,181) solid;/*rgb(151, 140, 94,0.7)(255,255,128,0.6)(120,104,54,0.6)*/
			background-color: rgba(251,249,181,0.7);
			border-radius: 25px;
			padding: 20px;
			width: 80%;
			margin: 0px auto;
		}
		div.connect{
			float: right;
			width: 40%;
			color:rgb(103, 57, 24);
			font-weight: bolder;
			font-size: 25px;
			padding: 25px;
		}
		button.connect_button{
			background-color: rgba(255,255,255,0.4);
			border: 2px #937c2f solid;
			border-radius: 25px;
			color: #756325;
			font-size: 16px;
			padding: 8px 15px;
			margin: 20px;
			font-weight: bold;
		}
		button.connect_button:hover{
			background-color: #937c2f;
			border: 2px white solid;
			color: white;
			transition: 0.5s;
			-webkit-filter:drop-shadow(5px 5px  gray);
		}
		/**/
/*footer*/
		footer{
				background-color:rgba(0,0,0,1);
				text-align: center;
				height: auto;
				overflow: auto;
			}
			.footer{
				height: auto;
				background-color:rgba(0,0,0,1);
				overflow:auto;
			}
			.footer_left{
				float: left;
				width: 25%;
				color: #82784f;
				height: auto;
			}
			.footer_title{
				font-size: 25px;
				font-weight: bold;
				padding: 20px;
			}
			.footer_input{
				background-color:black;
				border-radius:10px;
				padding:5px;
				color:white;
			}
			.footer_text{
				font-size: 20px;
				font-weight:bold;
			}
			.footer_link{
				color: #f6e293;
			}
			.footer_logo{
				width: 25%;
			}
			.copyright{
				color: #82784f;
				padding:20px;
			}
			span.contact_title{
				font-size:20px;
				color:#f6e293;
			}
			table.contact{
				border-radius: 5px;
				border-color: #f6e293;
				color:#f6e293;
			}
			input.submit,button.reset{
				height: 30px;
				width: 80px;
				background-color:black;
				border-radius: 25px;
				border-style: solid; 
				border-color:#efd467;
				color:#efd467;
				font-weight:bold;
			}
			input.submit:hover,button.reset:hover{
				background-color:#efd467;
				border-radius: 25px;
				border-style: solid; 
				border-color:gray;
				color:black;
				transition: 0.5s;
			}
		/*footer*/
			a{   /* 會讓LINK沒有底線*/
		        text-decoration: none;
		        color: unset;
		        z-index: 1;
       		}