body {
font-family: "微軟正黑體";
background: url(../images/login_bg.jpg);
margin:0px;
}
article{
padding-top: 150px;
width:90%;
margin:0 auto;
padding-bottom: 50px;
}
a{   /* 會讓LINK沒有底線*/
text-decoration: none;
color: unset;
z-index: 1;
}
/*右側滾輪*/
/*回首紐*/
#myBtn {
display: none;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
font-size: 18px;
border: none;
outline: none;
background-color: brown;
color: white;
cursor: pointer;
padding: 15px;
border-radius: 4px;
}
#myBtn:hover {
background-color: #555;
}
/*回首紐*/
/* width */
::-webkit-scrollbar {
width: 20px;
}
/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey;
border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
background:  saddlebrown;
border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #efd467;
}
/*右側滾輪*/
/* header */
nav {
overflow: hidden;
background-image: url('../images/headerbg.png');
position: fixed;
width: 100%;
box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
top: 0px;
left: 0px;
z-index: 100;
}
img.button_bg{
height: 150px;
position: relative;
top: -80px;
z-index: -1;
/*display: none;*/
opacity: 0;
transition:  1s ;
}
img.button_bg2,img.button_bg3{
height: 150px;
width: 200px;
position: relative;
top: -85px;
z-index: -1;
/*display: none;*/
opacity: 0;
transition:  1s ;
}
.navbar {
width: 100%;
}
.nalogo {
float: left;
margin: 8px;
}
.naleft {
height: 40px;
float: left;
font-size: 22px;
font-weight: bold;
color: black;
text-align: center;
padding: 2%  20px;
transition:  1s ;
}
.naleft:hover img.button_bg{
opacity: 0.9;
}
.naleft2:hover img.button_bg2{
opacity: 0.9;
}
.naleft3:hover img.button_bg3{
opacity: 0.9;
}
.naleft2{
height: 40px;
float: left;
font-size: 22px;
font-weight: bold;
line-height: 1.5;
color: black;
text-align: center;
padding: 2% 10px;
transition:  0.3s linear;
}
.naleft3 {
height: 40px;
float: left;
font-size: 22px;
font-weight: bold;
line-height: 1.5;
color: black;
text-align: center;
padding: 2% 10px;
transition:  0.3s linear;
}
#naindex {
background-color: ;
height: 18px;
}
.dropdown {
float: left;
overflow: hidden;
padding: 20px 2px;
}
.dropbut {
color:black;
padding: 10px;
background-color: inherit;
font: inherit;
margin: 0;
cursor: pointer;
transition:  0.3s linear;
}
.dropstyle {
background-color: white;
border: 2px #efd467 dotted; /*縣*/
border-radius: 10%;
color: #1a1a1a;
padding: 8px 15px;
line-height: 18px;
transition:  0.3s linear;
font-size:22px;
font-weight:bolder;
}
.dropimg {
width: 18px;
height: 18px;
background-size: 18px 18px;
transition: all 0.2s linear;
float: right;
margin-left: 5px;
}
.dropbut:hover > .dropstyle {
background-color: #e7bfbfcc;
color: #6b3838e6;
border: 1px solid #e0ababe6;
}
.dropbut:hover > .dropstyle > .dropimg {
background-size: 18px 18px;
}
.dropinnertext {
display: none;
position: fixed;
width: 30%;
z-index: 10;
/*縣*/
}
.dropinnertext .body {
width: 100%;
box-shadow: 0 1px 8px rgba(0, 0, 0, .2);
border-radius: 5px;
display: table;
padding: 15px;
background: white;
border: 10px brown dashed;
margin: 0 auto;
}
/*div.hotheader{
text-align: center;
}
/*div.hotbutton{
margin: 0 auto;
}*/
button.hotheader{
background-color: white;
color: black;
border: 2px solid #f44336;
margin: 0,auto;
}
button.hotheader:hover{
background-color: #f44336;
color: white;
}
.dropdown-cell {
display: table-cell;
width: calc(100%/3);
padding: 10px;
text-align: center;
}
.dropdown-title {
font-size: 25px;
border-bottom: 2px #efd467 dotted; /*縣*/
margin: 5px 0;
margin-bottom: 10px;
padding: 8px 0;
font-weight: bold;
color: saddlebrown;
}
.dropdown-a {
font-size: 20px;
margin: 5px 0;
padding: 8px 0;
color: black; /*INNERTEXT*/
transition: all 0.2s linear;
}
.dropdown-a:hover {
color:saddlebrown /*innerbigtext*/
}
.dropdown:hover .dropinnertext {
display: block;
}
.navbar-right {
float: right;
padding-right: 48px;
opacity: .75;
transition: all 0.3s linear;
}
.navbar-right:hover {
opacity: 1;
filter: drop-shadow(0px 1px 5px gray); 
}
.navbar-right img {
width: 70px;
height: 60px;
padding: 5px;
}
.navbar-right2 {
float: right;
padding-right: 3px;
opacity: .75;
transition: all 0.3s linear;
}
.navbar-right2:hover {
opacity: 1;
filter: drop-shadow(0px 1px 5px rgba(255, 255, 255, .3));
}
.navbar-right2 img {
width: 70px;
height: 60px;
}
.navbar-right2-num {
position: absolute;
top: -40px;
right: 1px;
padding: 5px 8px;
border-radius: 50%;
background: red;
color: white;
font-size: 14px;
line-height: 14px;
}
/* header */
/*訂單*/
.order-box {
width: 80%;
margin: 40px auto;
color: #555555;
font-weight: bolder;
}
.order-box-title {
width: 100%;
padding-bottom: 45px;
font-size: 50px;
}
.order-box2 {
width: 100%;
font-size: 40px;
display: table;
}
.order-inner-box {
width: 100%;
display: table-row;
}
.order-inner-box2 {
padding-bottom: 80px;
display: table-cell;
width: 25%;
}
.order-inner-box3 {
width: 20%;
padding-bottom: 40px;
display: table-cell;
font-size: 30px;
}
.order-inner-box3:hover {
text-decoration: underline;
}
.total-num{
font-weight: bolder;
font-size:50px;
text-align: right;
margin-right: 25%;
color: #CC0000;
text-decoration: underline;
}
.total-text{
font-weight: bolder;
font-size:50px;
text-align: left;
margin-left: 6%;
color: #555555;
}
hr{
border: 2px solid #555555;
width: 80%;
}
/*訂單END*/
/*資料*/
.order-box-down {
width: 80%;
margin: 40px auto;
margin-top: 100px;
padding:30px;
background-color: #DDDDDD;
box-shadow: 3px 3px 5px 5px gray;
border: 5px dashed saddlebrown;
}
.order-box-down2 {
width: 100%;
display: table;
}
.order-box-down-title {
padding: 20px;
background-color:#AAAAAA;
font-size: 35px;
text-align: center;
font-weight: bolder;
}
.order-box-down input {
width: 100%;
font-size: 20px;
padding: 20px 0 20px 0 ;
border: none;
outline: none;
}
.check-info1 {
width: 100%;
display: table-row;
}
.check-info1 select {
width: 100%;
font-size: 18px;
padding: 12px;
}
.check-info2 {
width: 200px;
padding: 10px;
display: table-cell;
background-color:#C0C0C0;
text-align: center;
font-size: 25px;
}
.check-info3 {
padding: 10px;
display: table-cell;
border: 1px dashed #C0C0C0;
}
.checkbtn {
background: url(../images/about_bg.jpg);
border: 2px solid #555555;
font-size: 18px;
border-radius: 5%;
text-align: center;
transition-duration: 0.3s;
cursor: pointer;
padding: 16px 32px;
font-weight: bolder;
color: #555555;
}
.checkbtn:hover {
color:white;
}
.resetbtn {
background: url(../images/about_bg.jpg);
border: 2px solid #555555;
font-size: 18px;
border-radius: 5%;
text-align: center;
margin-left: 2%;
transition-duration: 0.3s;
cursor: pointer;
padding: 16px 32px;
font-weight: bolder;
color: #555555;
}
.resetbtn:hover {
color:white;
}
/*資料*/
/*footer*/
footer{
background-color:rgba(0,0,0,1);
text-align: center;
height: auto;
overflow: auto;
}
.footer{
height: auto;
background-color:rgba(0,0,0,1);
overflow:auto;
}
.footer_left{
float: left;
width: 25%;
color: #82784f;
height: auto;
}
.footer_title{
font-size: 25px;
font-weight: bold;
padding: 20px;
}
.footer_input{
background-color:black;
border-radius:10px;
padding:5px;
color:white;
}
.footer_text{
font-size: 20px;
font-weight:bold;
}
.footer_link{
color: #f6e293;
}
.footer_logo{
width: 25%;
}
.copyright{
color: #82784f;
padding:20px;
}
span.contact_title{
font-size:20px;
color:#f6e293;
}
table.contact{
border-radius: 5px;
border-color: #f6e293;
color:#f6e293;
}
input.submit,button.reset{
height: 30px;
width: 80px;
background-color:black;
border-radius: 25px;
border-style: solid;
border-color:#efd467;
color:#efd467;
font-weight:bold;
}
input.submit:hover,button.reset:hover{
background-color:#efd467;
border-radius: 25px;
border-style: solid;
border-color:gray;
color:black;
transition: 0.5s;
}
/*footer*/